<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body>
    
    <%- include("includes/navbar_admin.ejs")%>

    <div class="container" id="row-container">
        <div class="row" id="row">
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">View Schools</h4>
                        <p class="card-text" id="paragraph">Simple Query to database to show the existing schools in the system.</p>
                        <a class="btn btn-primary" id="show-btn" href="/schools">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">Add School</h4>
                        <p class="card-text" id="paragraph">The administrator inserts school information in the system.<br></p>
                        <a class="btn btn-primary" id="show-btn" href="/admin_layout/schools-add">Add</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">View Operators</h4>
                        <p class="card-text" id="paragraph">Approve operators<br></p>
                        <a class="btn btn-primary" id="show-btn" href="/operators">Show</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="row-2">
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">Database Backup & Restore</h4>
                        <p class="card-text" id="paragraph">Create a backup of the database or restore it.</p>
                        <a class="btn btn-primary" id="backup-btn" href="/admin_layout/backup">Backup</a>
                        <a class="btn btn-primary" id="restore-btn" href="/admin_layout/restore">Restore</a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
              $('#restore-btn').click(function() {
                $.ajax({
                  url: '/admin_layout/restore',
                  type: 'POST',
                  success: function(response) {
                    console.log(response);
                    // Handle the success response here
                  },
                  error: function(xhr, status, error) {
                    console.error(error);
                    // Handle the error response here
                  }
                });
              });
            });
        </script>


    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

</body>

</html>