<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body>
    
    <%- include("includes/navbar_professor.ejs")%>

    <div class="container" id="row-container">
        <div class="row" id="row">
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">View/Reserve Books</h4>
                        <p class="card-text" id="paragraph"></p>
                        <a class="btn btn-primary" id="show-btn" href="/books/users">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title"> View my borrowed books</h4>
                        <p class="card-text" id="paragraph"><br></p>
                        <a class="btn btn-primary" id="show-btn" href="/books/mybooks">Show</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">View my info</h4>
                        <p class="card-text" id="paragraph"><br></p>
                        <a class="btn btn-primary" id="show-btn" href="/users/myinfo">Show</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="row">
            <div class="col-md-4">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">View reviews</h4>
                        <p class="card-text" id="paragraph"><br></p>
                        <a class="btn btn-primary" id="show-btn" href="/reviews/published">Show</a>
                    </div>
                </div>
            </div>

                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">View Reservations</h4>
                        <p class="card-text" id="paragraph">My Reservations<br></p>
                        <a class="btn btn-primary" id="show-btn" href="/reservations/users">Show</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#restore-btn').click(function() {
            $.ajax({
                url: '/admin_layout/restore',
                type: 'POST',
                success: function(response) {
                console.log(response);
                // Handle the success response here
                },
                error: function(xhr, status, error) {
                console.error(error);
                // Handle the error response here
                }
            });
            });
        });
    </script>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

</body>

</html>